<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <title>Turnip Demo</title>
    <link rel="stylesheet" media="all" href="lib/turnip/style.css" />
    <link rel="stylesheet" media="all" href="lib/counter/style.css" />
    <script data-main="lib/turnip/index.js" src="lib/turnip/require.js"></script>
</head>
<body>
    <h1>Turnip</h1>
    <h2>Vector Clocks</h2>
    <div id="clocks"></div>
    <h2>Messages</h2>
    <div id="messages"></div>
    <h2>Ordered Events</h2>
    <div id="events"></div>
    <script id="clock-template" type="text/template">
     <span class="current top <%= fonts.curr %>"><%= numerals.count %></span>
     <span class="next top <%= fonts.next %>"><%= numerals.next %></span>
     <span class="current bottom <%= fonts.curr %>"><%= numerals.count %></span>
     <span class="next bottom <%= fonts.next %>"><%= numerals.next %></span>
    </script>
</body>
</html>